*{
    padding: 0;
    margin: 0;
}
header{
    background-color: blue;
    color: white;
    padding: 5px;

}
ul li{
    display: inline-block;
    padding: 7px;
}
.interface{

}
.one{
    width: 300px;
    padding: 6px;
    padding-top: 10px;
}

.login button{
    /* background-color: rgb(17, 17, 245); */
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    display: inline-block;
    width: 70px;
    padding: 40x;
   position: relative;
    left: 90%;
    bottom: 60px;
    text-decoration: none;
}
 .login button:link ,.login  button:visited{
    color:white;
}

.login button:hover, .login button:active{
    color: whitew;
}
.welcome{
    background-color: blue;
    color: white;
    padding: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.sboporital{
    background-color: aqua;
    width: 300px;
    margin: 20px;
    padding: 6px;
}

ol li{
    background-color: blue;
    color: white;
    padding: 8px;
    margin: 1px 1px;
    margin-left: 9px;
}